table.church_admin_calendar { empty-cells: show; table-layout:fixed; font-size:10pt;}
.church_admin_calendar td{border:1px solid gray;border-collapse: collapse;font-size:10pt;padding:3px !important;}
.calendar-date-switcher {height:25px;text-align:center;border:1px solid #D6DED5;background-color:#E4EBE3; }
.calendar-date-switcher form {margin:0;padding:0;}
.calendar-date-switcher input {border:1px #D6DED5 solid;font-size:10pt;}
.calendar-date-switcher select {border:1px #D6DED5 solid;}
.calendar-heading {height:25px;text-align:center;border:1px solid #D6DED5;background-color:#E4EBE3;}
.church_admin_tooltip{position: absolute; z-index: 1000;background: #E4EBE3;border: 3px solid gray;border-radius:3px;-moz-border-radius: 3px;color: #000;padding: 3px;width: 250px; display:none;}
.church_admin_cal_item{ border-radius:5px;-moz-border-radius: 3px;padding:3px;}
.Postit{font-size:1.2em !important;width: 100%;background-color: #FFFFB3;border-right: 3px solid #BBBBBB;border-bottom: 3px solid #BBBBBB;border-left: 1px solid #DDDDDD;border-top: 1px solid #DDDDDD;color: #666666;padding: 5px;margin: 5px;}
.Postit h1,.Postit h2{padding:0 0px;font-style:bold;font-size: 1.2em;}
.Postit ul{margin:0;font-size:0.75em;list-style:none;padding:0em;}
.Postit a {text-indent:0;padding:0;}
.Postit li {text-indent:0;padding:0 0 10px 0;margin:0!important;list-style:none;border-bottom:none !important;}
.church_admin_address{-moz-border-radius:4px; border:1px solid #E3E3E3; margin:8px 0px; padding:6px; position: relative;}
.church_admin_calendar td{width:14.28%}
/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/

/*CSS Sabrosus style pagination*/
div.pagination {
	padding:3px;
	margin:3px;
	text-align:center;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #9aafe5;
	
	text-decoration: none; 
	color: #2e6ab1;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #2b66a5;
	color: #000;
	background-color: lightyellow;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid navy;
	font-weight: bold;
	background-color: #2e6ab1;
	color: #FFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #929292;
	color: #929292;
}
#map{width:600px;height:500px;}