table.church_admin_calendar { empty-cells: show; table-layout:fixed; font-size:10pt;}
.church_admin_calendar td{border:1px solid gray;border-collapse: collapse;font-size:10pt;padding:3px !important;}
.calendar-date-switcher {height:25px;text-align:center;border:1px solid #D6DED5;background-color:#E4EBE3; }
.calendar-date-switcher form {margin:0;padding:0;}
.calendar-date-switcher input {border:1px #D6DED5 solid;font-size:10pt;}
.calendar-date-switcher select {border:1px #D6DED5 solid;}
.calendar-heading {height:25px;text-align:center;border:1px solid #D6DED5;background-color:#E4EBE3;}
.church_admin_tooltip{position: absolute; z-index: 1000;background: #E4EBE3;border: 3px solid gray;border-radius:15px;-moz-border-radius: 15px;color: #000;padding: 3px;width: 250px; display:none;}
.church_admin_cal_item{ border-radius:5px;-moz-border-radius: 5px;padding:5px;}
.Postit{font-size:1.2em !important;width: 100%;background-color: #FFFFB3;border-right: 3px solid #BBBBBB;border-bottom: 3px solid #BBBBBB;border-left: 1px solid #DDDDDD;border-top: 1px solid #DDDDDD;color: #666666;padding: 5px;margin: 5px;}
.Postit h1,.Postit h2{padding:0 0px;font-style:bold;font-size: 1.2em;}
.Postit ul{margin:0;font-size:0.75em;list-style:none;padding:0em;}
.Postit a {text-indent:0;padding:0;}
.Postit li {text-indent:0;padding:0 0 10px 0;margin:0!important;list-style:none;border-bottom:none !important;}
.church_admin_address{-moz-border-radius:4px; border:1px solid #E3E3E3; margin:8px 0px; padding:6px; position: relative;}
.church_admin_calendar td{width:14.28%}