table.church_admin_calendar { empty-cells: show; table-layout:fixed; font-size:10pt;}
.church_admin_calendar td{border:1px solid gray;border-collapse: collapse;font-size:10pt;padding:3px !important;}
.church_admin_popup{width:250px;}

.calendar-date-switcher {
        height:25px;
        text-align:center;
        border:1px solid #D6DED5;
        background-color:#E4EBE3;
     }
     .calendar-date-switcher form {
        margin:0;
        padding:0;
     }
     .calendar-date-switcher input {
        border:1px #D6DED5 solid;font-size:10pt;
     }
     .calendar-date-switcher select {
        border:1px #D6DED5 solid;
     }
    .calendar-heading {
        height:25px;
        text-align:center;
        border:1px solid #D6DED5;
        background-color:#E4EBE3;
     }


.church_admin_tooltip{
position: absolute; 
z-index: 1000;
background: #E4EBE3;
border: 3px solid gray;
border-radius:15px;
-moz-border-radius: 15px;
color: #000;
padding: 3px;
width: 250px; /*width of tooltip*/
}

    
/*Post it note*/
.Postit{font-size:1.2em !important;width: 250px;background-color: #FFFFB3;border-right: 3px solid #BBBBBB;border-bottom: 3px solid #BBBBBB;border-left: 1px solid #DDDDDD;border-top: 1px solid #DDDDDD;color: #666666;padding: 5px;margin: 5px;}
.Postit h1,.Postit h2{padding:0 0px;font-style:bold;font-size: 1.2em;}
.Postit ul{margin:0;font-size:0.75em;list-style:none;padding:0em;}
.Postit a {text-indent:0;padding:0;}
.Postit li {text-indent:0;padding:0 0 10px 0;margin:0!important;list-style:none;border-bottom:none !important;}